<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <variable name="log_pattern_with_date" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log_pattern_with_date}</pattern>
        </encoder>
    </appender>

    <logger name="dk.lessismore" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>